.hero {
    height: 100vh;
    /* background: url("5eba4017-301e-4bb5-80e6-3a856a75c040.png") no-repeat center center/cover;*/
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    position: relative;
}

.hero_content {
    max-width: 500px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero button {
    background: #e63946;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero button:hover {
    background: #d62828;
}